[#if ERR_MSG#]
<div class="alert alert-danger">[#ERR_MSG#]</div>
[#endif#]

[#if OK_MSG#]
<div class="alert alert-success">[#OK_MSG#]</div>
[#endif#]

<div class="row">
 <div class="col-md-6">

  <ul class="nav nav-tabs">
   <li[#if TAB=""#] class="active"[#endif#]><a href="?"><#LANG_GENERAL#></a></li>
   <li[#if TAB="settings"#] class="active"[#endif#]><a href="?tab=settings"><#LANG_SECTION_SETTINGS#></a></li>
   <li[#if TAB="service"#] class="active"[#endif#]><a href="?tab=service"><#LANG_GENERAL_SERVICE#></a></li>
  </ul>

  &nbsp;

  [#if TAB=""#]

  <div class="alert alert-info">
   Пожалуйста, ознакомьтесь с описанием сервиса и правилами использования на веб-сайте
   <a href="http://vpnki.ru" target="blank">VPNKI.RU</a>
  </div>

  <div id="api_control">
   <h2>VPN Control</h2>
   <div class="panel">Установка VPN-соединения по заданным <a href="?tab=settings">настройкам</a>.</div>
   <a href="?mode=connect" class="btn btn-default btn-primary">Connect</a>
   <a href="?mode=disconnect" class="btn btn-default">Disconnect</a>
  </div>

  &nbsp;
  <div id="api_control">
   <h2>Quick Help</h2>
   <div class="panel">Организация быстрого доступа к системе.</div>
   [#if LATEST_HTTP_ADDRESS!=""#]
   <div class="alert alert-info">Пожалуйста, имейте в виду, что публикация доступа к системе может занять несколько минут.</div>
   <div>
    System URL: <a href="http://[#LATEST_HTTP_ADDRESS#]:[#LATEST_HTTP_PORT#]" target="_blank">[#LATEST_HTTP_ADDRESS#]:[#LATEST_HTTP_PORT#]</a>
   </div>
   [#endif#]

   [#if LATEST_SSH_ADDRESS!=""#]
   <div>
    System SSH: [#LATEST_SSH_ADDRESS#]:[#LATEST_SSH_PORT#]
   </div>
   [#endif#]

   <form class="form" method="post" action="?">
    <div class="form-group">
     <label for="api_token">Токен:</label>
     <input type="text" id="api_token" name="api_token" value="[#API_TOKEN#]" class="form-control">
    </div>
    <div class="form-group">
     <label for="api_port">Внутренний порт:</label>
     <select name="api_port" id="api_port" class="form-control">
      <option value="22"[#if API_PORT="22"#] selected[#endif#]>22 (SSH)</option>
      <option value="80"[#if API_PORT="80"#] selected[#endif#]>80 (HTTP)</option>
     </select>
    </div>

    <div class="form-group">
     <label for="api_type">Тип соединения:</label>
     <select name="api_type" id="api_type" class="form-control">
      <option value="pptp"[#if API_TYPE="pptp"#] selected[#endif#]>PPTP</option>
      <option value="openvpn"[#if API_TYPE="openvpn"#] selected[#endif#]>OpenVPN</option>
     </select>
    </div>

    <div class="form-group">
     <input type="submit" class="btn btn-default btn-primary" value="Connect">
     <a href="?mode=qh_disconnect" class="btn btn-default">Disconnect</a>
    </div>
    <input type="hidden" name="mode" value="qh_connect">
   </form>
  </div>



  [#endif TAB#]


  [#if TAB="settings"#]
  <!-- table zwave_devices search -->
  <div id='api_settings'>
   <form action="?" method="post" enctype="multipart/form-data" name="frmEdit" class="form-horizontal">
    <fieldset>
     <div class="form-group">
      <label class="control-label"[#if ERR_API_URL#] style="color:red;font-weight:bold"[#endif#]>
       VPN Server:
       (*)
      </label>
      <div class="controls">
       <select name="api_url" class="form-control">
        <option value="vpnki.ru"[#if  API_URL="vpnki.ru"#] selected[#endif#]>VPNKI.RU (Moscow)</option>
        <option value="ams.vpnki.ru"[#if  API_URL="ams.vpnki.ru"#] selected[#endif#]>AMS.VPNKI.RU (Amsterdam)</option>
       </select>
      </div>
     </div>
     <div class="form-group">
      <label class="control-label"[#if ERR_API_USERNAME#] style="color:red;font-weight:bold"[#endif#]>
       <#LANG_USERNAME#>:
      </label>
      <div class="controls"><input type="text" name="api_username" value="[#API_USERNAME#]"  class="form-control"></div>
     </div>
     <div class="form-group">
      <label class="control-label"[#if ERR_API_PASSWORD#] style="color:red;font-weight:bold"[#endif#]>
       <#LANG_PASSWORD#>:
      </label>
      <div class="controls"><input type="password" name="api_password" value="[#API_PASSWORD#]"  class="form-control"></div>
     </div>
     <div class="form-group">
      <label class="control-label">
       VPN <#LANG_TYPE#>:
      </label>
      <div class="controls">
       <input type="radio" name="api_type" value="pptp"[#if API_TYPE!="openvpn"#] checked[#endif#]> PPTP
       <input type="radio" name="api_type" value="openvpn"[#if API_TYPE="openvpn"#] checked[#endif#]> OpenVPN
      </div>
     </div>
     <div class="form-actions">
      <button type="submit" name="subm" value="Submit" class="btn btn-primary"><#LANG_SUBMIT#></button>
      <input type="hidden" name="view_mode" value="update_settings">
      <input type="hidden" name="mode" value="update">
      <input type="hidden" name="tab" value="<#TAB#>">
     </div>
    </fieldset>
   </form>
  </div>
  [#endif TAB#]

  [#if TAB="service"#]
  <div class="dynamic_content" id="service_tab">
   <table class="table">
    <thead>
    <tr>
     <th>VPN type</th>
     <th>Package version</th>
    </tr>
    </thead>
    <tr>
     <td><b>PPTP</b></td>
     <td>[#if PPTP_INSTALLED!=""#]<font color="green">[#PPTP_INSTALLED#]</font>[#else#]<a href="?tab=<#TAB#>&mode=install_pptp" class="btn btn-default">Install</a>[#endif#]</td>
    </tr>
    <tr>
     <td><b>OpenVPN</b></td>
     <td>[#if OPENVPN_INSTALLED!=""#]<font color="green">[#OPENVPN_INSTALLED#]</font>[#else#]<a href="?tab=<#TAB#>&mode=install_openvpn" class="btn btn-default">Install</a>[#endif#]</td>
    </tr>
   </table>

   <!--/dynamic_content--></div>
  [#endif SERVICE#]


 </div>
 <div class="col-md-6">
  <ul class="nav nav-tabs">
   <li class="active"><a href="#">Network Status</a></li>
  </ul>
  &nbsp;
  <div id="api_status">
   <script language="javascript">
    var statusTimer;
    function updateNetworkStatus() {
     var url='<#ROOTHTML#>ajax/vpnki.html?op=status';
     $.ajax({
      url: url
     }).done(function(data) {
      $('#status_info').html(data);
      statusTimer=setTimeout('updateNetworkStatus();',2000);
     });
    }
    updateNetworkStatus();
   </script>
   <div id="status_info"></div>
  </div>
 </div>
</div>


